# Documentation
Adlerauge_1991_Panorama_vom_Wittnauer_Homberg_ocr.pdf
Augenreisen_Zahlenberge_150-173_l.pdf
bildkoordinaten_aus_lagekoordinaten.pdf
BZ_20240806_ErdkrümmungAaretal.pdf
Knoepfli_Bantigerpanorama_in_LT-Hauszeitung-36-1975.pdf
Reber_Ueber-Erdkruemmung-und-Refraktion_SAC_1893.pdf
VPK-1999-08_weltrekord-digirama.pdf
quellen.txt
schema_v1.jpg

# Test files
